<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; {{ config('site.company_name') }}. 2018 - {{ date('Y') }}. <a href="{{ config('site.developer_href') }}" target="_blank" rel="nofollow">{{ config('site.developer_name') }}</a></p>
        </div>
    </div>
</footer>