<?php

return [
    'app.debug' => 1,
    'app.clear_twig_cache_on_debug' => 1,
    'app.clear_doctrine_metadata_cache_on_debug' => 1,
    'app.admin_email' => 'admin@admin.ua',
    'app.cache' => 'app\classes\cache\Nocache',
    // 'app\classes\cache\FileCache'
    // 'app\classes\cache\Apcu'
    // 'app\classes\cache\MemCached'
    // 'app\classes\cache\Nocache';
    'database.connection' => [
        'host' => '127.0.0.1',
        'dbname' => 'doctrine',
        'user' => 'root',
        'password' => '',
        'charset' => 'utf8',
        'driver' => 'pdo_mysql',
        'collation' => 'utf8_unicode_ci',
    ]

];