<ol class="breadcrumb">
    {% if breadcrumbs %}
        {% for key, crumb in breadcrumbs  %}
            {% if loop.last   %}
                <li class="active">{{ crumb.title }}</li>
            {% else %}
                <li><a href="{{ crumb.url }}">{{ crumb.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ol>