{% extends 'layouts/main.twig' %}

{% block content %}


    <div class="row">
        <div class="col-lg-8">

            <hr>

            <h2 class="lead result_status result_status_{{ className }}" >{{ title }}</h2>

            <p>{{ text }}</p>
            <hr>
            Back to <a href="/">Home</a>


        </div>
    </div>

{% endblock %}
